$button-shadow-size: 0 0.25em .5em -0.0625em !default
$button-shadow-color: rgba($scheme-invert, .1) !default
$button-hover-background-color: $link-hover-border !default

.button
    box-shadow: $button-shadow-size $button-shadow-color
    &:hover,
    &.is-hovered
        background: $button-hover-background-color
    &.is-text
        box-shadow: none
    &.is-outlined
        box-shadow: none
        background-color: transparent
        border-color: $button-background-color
        &:hover,
        &.is-hovered,
        &:focus,
        &.is-focused
          background-color: $button-background-color
          border-color: $button-background-color
          color: $button-color

