$container-desktop-width: $content-width !default
$container-widescreen-width: $content-width + $sidebar-width + 2 * $column-gap !default
$container-fullhd-width: 1600px !default // Somewhat arbitraty pick

.container
    flex-grow: 1
    margin: 0 auto
    position: relative
    width: auto
    max-width: $container-desktop-width
    &.is-fluid
        max-width: none
        padding-left: $gap
        padding-right: $gap
        width: 100%
    &.is-centered
        margin-right: auto
        margin-left: auto
    &.is-content-optimized
        max-width: $content-width
    +desktop
        max-width: $container-desktop-width
    +until-widescreen
        &.has-sidebar,
        &.is-widescreen
            max-width: $container-widescreen-width
    +until-fullhd
        &.is-fullhd
            max-width: $container-fullhd-width
    +widescreen
        max-width: $container-widescreen-width
        &.has-content,
        &.is-max-desktop
            max-width: $container-desktop-width
    +fullhd
        max-width: $container-fullhd-width
        &.has-sidebar,
        &.is-max-widescreen
            max-width: $container-widescreen-width

// Fallback implementation for bulma container
.container.is-bulma
    +desktop
        max-width: $desktop - $container-offset
    +until-widescreen
        &.is-widescreen
            max-width: $widescreen - $container-offset
    +until-fullhd
        &.is-fullhd
            max-width: $fullhd - $container-offset
    +widescreen
        max-width: $widescreen - $container-offset
    +fullhd
        max-width: $fullhd - $container-offset
