// Improve definition list styling compared to Bulma's default
.content
    dl
        dt
            font-weight: $weight-bold
        dd
            margin-left: 0

// Make optimized content width by default with fallback and add some extra helper classes
.content
    max-width: $content-width

    &.is-centered
        margin-right: auto
        margin-left: auto

    &.is-full-width
        max-width: none
    
// Makes content heading sizes consistent with title sizes for small, normal, medium and large content blocks.
.content
    &, &.is-normal
        font-size: $size-normal

        h1
            font-size: $size-3
        h2
            font-size: $size-4
        h3
            font-size: $size-5
        h4, h5, h6
            font-size: $size-6
        h5, h6
            color: $text-light
        h6
            font-style: italic

    &.is-small
        h1
            font-size: $size-4
        h2
            font-size: $size-5
        h3
            font-size: $size-6
        h4, h5, h6
            font-size: $size-7
    &.is-medium
        h1
            font-size: $size-2
        h2
            font-size: $size-3
        h3
            font-size: $size-4
        h4, h5, h6
            font-size: $size-5
    &.is-large
        h1
            font-size: $size-1
        h2
            font-size: $size-2
        h3
            font-size: $size-3
        h4, h5, h6
            font-size: $size-4
