.table
    &.is-aligned
        margin-right: -.75rem
        margin-left: -.75rem
        &.is-fullwidth
            width: calc(100% + 1.5rem)
        &.is-narrow
            margin-right: -.5rem
            margin-left: -.5rem
            &.is-fullwidth
                width: calc(100% + 1rem)
    td,
    th
        &.is-truncated
            position: relative
            width: 30ch
            min-width: 20ch
            & > span
                display: block
                position: absolute
                top: 0
                right: 0
                bottom: 0
                left: 0
                padding: $table-cell-padding
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap
        &.is-nowrap
            white-space: nowrap
        &.is-sticky
            position: sticky
            left: 0
            background: rgba($body-background-color, 0.95)
            background-clip: padding-box
            box-shadow: none
            transition: box-shadow .15s ease-in
            z-index: 1
            &.is-right
                right: 0
                left: auto
            &.is-stuck
                box-shadow: 0.25em 0 .5em -0.0625em rgba($scheme-invert, .1)
                &.is-right
                    box-shadow: -0.25em 0 .5em -0.0625em rgba($scheme-invert, .1)
    &.is-hoverable tbody tr:not(.is-selected):hover
        td, 
        th
            &.is-sticky
                background-color: rgba($table-row-hover-background-color, 0.95)
    tr.is-vcentered td,
    tr.is-vcentered th,
    td.is-vcentered,
    th.is-vcentered
        vertical-align: middle
    tr.is-vbottom td,
    tr.is-vbottom th,
    td.is-vbottom,
    th.is-vbottom
        vertical-align: bottom
