$collapse-in-speed: 150ms
$collapse-out-speed: 250ms

.collapse .collapse-content
    height: 0
    // active during transition-out
    transition: height $collapse-out-speed ease-in-out

    &:not(.is-visible)
        visibility: hidden
        overflow: hidden

    &.is-visible
        height: auto
        // active during transition-in
        transition: height $collapse-in-speed ease-in

    &.is-transitioning-in,
    &.is-transitioning-out
        visibility: visible
        overflow: hidden

    // Provide illusion of full vertical transition
    &.is-transitioning-in
        height: 100px

    &.is-transitioning-out
        height: 0

@media (prefers-reduced-motion: reduce)
    .collapse .collapse-content,
    .collapse .collapse-content.is-visible
        transition: none
