$divider-color: $text-light !default
$divider-background-color: $border !default
$divider-font-size: $size-7 !default
$divider-inner-spacing: 1em !default
$divider-inline-margin: 0 .75ch !default
$divider-fullwidth-margin: $block-spacing 0 !default

.divider:not(.is-fullwidth)
    margin: $divider-inline-margin
    color: $divider-color

    &::before
        display: inline
        content: '▪'

.divider.is-fullwidth
    display: flex
    justify-content: space-between
    align-items: center
    margin: $divider-fullwidth-margin
    color: $divider-color
    font-size: $divider-font-size
    text-transform: uppercase

    &::before,
    &::after
        display: block
        content: ''
        height: $control-border-width
        background-color: $divider-background-color
        flex: 1 1 100%

    &::before
        margin-right: $divider-inner-spacing

    &::after
        margin-left: $divider-inner-spacing

    &:empty
        &::before
            margin-right: 0
        &::after
            display: none
