.modal
    &.is-static
        display: block
        position: static

        .modal-card
            border: 1px solid $border

    &.is-loading
        .modal-content
            overflow: visible

    .modal-card-foot
        justify-content: flex-end
