// navbar-dropdown-breakpoint determines from when menu/dropdowns behave like regular dropdowns instead of being 100% width
$navbar-dropdown-breakpoint: $tablet !default
// Width of a navbar-item with an icon in it.
$navbar-icon-item-width: 2.5rem
// Bulma doesn't use variables for some navbar shadows. We do.
$navbar-shadow-color: rgba($scheme-invert, 0.1) !default
$navbar-dropdown-shadow: 0 8px 8px $navbar-shadow-color !default
$navbar-dropdown-mobile-shadow: 0 8px 16px $navbar-shadow-color !default
$navbar-dropdown-up-shadow: 0 -8px 8px $navbar-shadow-color !default
$navbar-fixed-bottom-shadow: 0 -2px 3px $navbar-shadow-color !default

// mixin for edge focus-within fix
=search-form-hover
    .field
        width: 15em
    .input
        width: 100%
        padding: 0 1.1rem
        padding-right: $navbar-icon-item-width
        padding-left: 0.75rem
    .button
        color: $light-invert
    +until($navbar-dropdown-breakpoint)
        position: absolute
        right: 0.75rem
        left: 0.75rem
        width: auto
        z-index: 100
        .field
            width: 100%

.navbar
    &.is-fixed-top,
    &.is-fixed-top-touch
        .navbar-dropdown
            +overflow-touch
            max-height: calc(100vh - #{$navbar-height})
            overflow: auto
    @each $name, $pair in $colors
        $color: nth($pair, 1)
        $color-invert: nth($pair, 2)
        &.is-#{$name}
            // Make navbar controls work for each color
            .navbar-controls
                & > .navbar-item,
                .navbar-link
                  color: $color-invert
                & > a.navbar-item,
                .navbar-link
                  &:hover,
                  &:focus,
                  &.is-active
                    background-color: darken($color, 5%)
                    color: $color-invert
                .navbar-link
                  &::after
                    border-color: $color-invert
            // Make hover backgrounds consistent
            .navbar-burger
                &:hover
                    background-color: darken($color, 5%)
    // Base styles for navbar-controls
    .navbar-controls
        align-items: stretch
        display: flex
        flex-shrink: 0
        min-height: $navbar-height
        .navbar-dropdown
            display: none
        .is-active
            & > .navbar-dropdown
                display: block
    .navbar-item
        user-select: none
        // edge focus-within fix for dropdown
        &.is-active,
        &.is-hoverable:hover
            .navbar-dropdown
                display: block
        // search form
        &.search-form
            padding: 0
            position: relative
            width: $navbar-icon-item-width
            // edge focus-within fix
            &:hover, &:focus
                +search-form-hover
            &:focus-within
                +search-form-hover
            .field
                position: absolute
                top: 0
                right: 0
                width: $navbar-icon-item-width
                transition: width .15s ease-out
                transition-delay: $hover-intent-delay
            .control
                position: static
            .button
                position: absolute
                right: 0
                top: 0
                background: none
                border: none
                color: white
                height: $navbar-height
                padding-right: 0.75rem
                padding-left: 0.75rem
                z-index: 10
                box-shadow: none
                +from($navbar-dropdown-breakpoint)
                    transition: color .15s ease-out
                    transition-delay: $hover-intent-delay
                &:not([disabled]):hover
                    z-index: 10
                &:focus
                    box-shadow: none
                .icon
                    margin-right: -0.25rem
                    margin-left: -0.25rem
            .input
                display: inline-block
                position: absolute
                top: 0
                right: 0
                width: 0
                height: $navbar-height
                box-sizing: border-box
                padding-top: 0.5rem
                padding-right: 0
                padding-bottom: 0.5rem
                padding-left: 0
                border: none
                background: $light
                box-shadow: none
                font-size: inherit
                line-height: inherit
                color: $light-invert
                transition: width .15s ease-out, padding .15s ease-out
                transition-delay: $hover-intent-delay
                +placeholder
                    color: rgba($light-invert, 0.75)
            +until($navbar-dropdown-breakpoint)
                .input
                    transition: none
            @media (prefers-reduced-motion: reduce)
                .field, .input, .button
                    transition-duration: 0s

+until($navbar-breakpoint)
    // Make navbar controls work properly on small screens in all situations
    .navbar
        display: flex
        flex-wrap: wrap
        &.is-fixed-bottom-touch.has-shadow
            box-shadow: $navbar-fixed-bottom-shadow
        .container.is-flex
            flex-wrap: wrap
        .navbar-burger
            width: $navbar-icon-item-width
            & + .navbar-item
                padding: .5rem
        .navbar-menu
            order: 1000
            flex: 1 0 100%
            box-shadow: $navbar-dropdown-shadow
        .navbar-controls
            display: inline-flex
            flex-grow: 1
            justify-content: flex-end
            .navbar-item,
            .navbar-link
                align-items: center
                display: flex
            .navbar-burger
                margin-left: 0
            .navbar-item
                display: flex
                &.has-dropdown
                    align-items: stretch
            .navbar-dropdown
                background-color: $navbar-dropdown-background-color
                border-bottom-left-radius: $navbar-dropdown-radius
                border-bottom-right-radius: $navbar-dropdown-radius
                border-top: none
                box-shadow: $navbar-dropdown-shadow
                display: none
                font-size: 0.875rem
                top: 100%
                right: 0
                left: 0
                min-width: 100%
                position: absolute
                z-index: $navbar-dropdown-z
                .navbar-item
                    padding: 0.375rem 1rem
                    white-space: nowrap
                a.navbar-item
                    padding-right: 3rem
                    &:hover
                        background-color: $navbar-dropdown-item-hover-background-color
                        color: $navbar-dropdown-item-hover-color
                    &.is-active
                        background-color: $navbar-dropdown-item-active-background-color
                        color: $navbar-dropdown-item-active-color
                .navbar.is-spaced &,
                &.is-boxed
                    border-radius: $navbar-dropdown-boxed-radius
                    border-top: none
                    box-shadow: $navbar-dropdown-boxed-shadow
                    display: block
                    opacity: 0
                    pointer-events: none
                    top: calc(100% + (#{$navbar-dropdown-offset}))
                    transform: translateY(-5px)
                    transition-duration: $speed
                    transition-property: opacity, transform
                &.is-right
                    top: 100%
                    right: 0
                    left: 0
    // Shadow fix
    .navbar
        &.is-fixed-bottom-touch
            &.has-shadow
                box-shadow: $navbar-fixed-bottom-shadow

+until($navbar-dropdown-breakpoint)
    .navbar
        .navbar-menu
            box-shadow: $navbar-dropdown-mobile-shadow
        .navbar-controls
            .navbar-item
                display: flex
                &.has-dropdown
                    align-items: stretch
                    position: static
                &.has-dropdown-up
                    .navbar-link::after
                        transform: rotate(135deg) translate(0.25em, -0.25em)
                    .navbar-dropdown
                        border-bottom: $navbar-dropdown-border-top
                        border-radius: $navbar-dropdown-radius $navbar-dropdown-radius 0 0
                        border-top: none
                        bottom: 100%
                        box-shadow: $navbar-dropdown-mobile-shadow
                        top: auto
                &.is-active,
                &.is-hoverable:hover
                    .navbar-dropdown
                        display: block
                        .navbar.is-spaced &,
                        &.is-boxed
                            opacity: 1
                            pointer-events: auto
                            transform: translateY(0)

+from($navbar-dropdown-breakpoint)
    .navbar
        .navbar-controls
            .navbar-item
                &.has-dropdown
                    position: relative
                .navbar-dropdown
                    top: 100%
                    right: auto
                    left: 0
                    min-width: 0
                    &.is-right
                        right: 0
                        left: auto
        .navbar-divider
            display: block

@media screen and (min-width: $navbar-dropdown-breakpoint) and (max-width: $navbar-breakpoint - 1px)
    .navbar
        .navbar-menu,
        .navbar-controls .navbar-dropdown
            border-top: $navbar-dropdown-border-top
        .navbar-menu
            position: absolute
            top: 100%
            &.is-right
                right: 0
                left: auto

+from($navbar-breakpoint)
    .navbar
        .navbar-controls
            margin-right: -.75rem
        .navbar-item
            &.is-hoverable-desktop:hover
                .navbar-dropdown
                    display: block
            &.has-dropdown-up
                .navbar-dropdown
                    box-shadow: $navbar-dropdown-up-shadow
            .navbar-dropdown
                box-shadow: $navbar-dropdown-shadow
    // Shadow variable fix
    .navbar
        &.is-fixed-bottom-desktop
            &.has-shadow
                box-shadow: $navbar-fixed-bottom-shadow

.navbar > .container.has-sidebar,
.navbar > .container.is-widescreen,
.container.has-sidebar > .navbar,
.container.is-widescreen > .navbar
    +until-widescreen
        .navbar-brand
            margin-left: 0
        .navbar-controls,
        .navbar-menu
            margin-right: 0

.navbar > .container.is-fullhd,
.container.is-fullhd > .navbar
    +until-fullhd
        .navbar-brand
            margin-left: 0
        .navbar-controls,
        .navbar-menu
            margin-right: 0
