$pagination-background-color: $light !default
$pagination-shadow-size: 0 0.25em .5em -0.0625em !default
$pagination-shadow-color: rgba($scheme-invert, .1) !default
$pagination-shadow: $pagination-shadow-size $pagination-shadow-color

$pagination-hover-background-color: $link-hover-border !default


.pagination-previous,
.pagination-next,
.pagination-link
    background: $pagination-background-color
    box-shadow: $pagination-shadow
    &:hover
        background: $pagination-hover-background-color
    &:active
        border-color: $pagination-active-border-color // bulma made the variable, but forgot to use it
        box-shadow: $pagination-shadow // remove inconsistent inner shadow

.pagination-link
    &.is-current
        background-color: $pagination-current-background-color // override (hover) background color
