// Add vertical bar to "checked" switch paddle to improve visual distinction between states.

=cover-switch-size($size)
    $switch-height: $size * 1.5
    $switch-width: $switch-height * 2
    $paddle-width: $switch-height - ($switch-paddle-offset * 2)
    $paddle-active-offset: $switch-width - $paddle-width - ($switch-paddle-offset * 1.5)

    &.is-rounded
        + label
            &::before
                border-radius: $switch-height / 2

    &.is-full-width + label
        display: inline-block
        width: 100%

    &.is-rtl + label::after
            right: $paddle-active-offset


    &:checked.is-rtl + label::after
        right: $switch-paddle-offset


=cover-paddle($color, $background)
    $bar-width: 12.5%
    $bar-height: 60%
    $bar-top: (100% - $bar-height) / 2
    $bar-bottom: $bar-top + $bar-height
    $bar-left: (100% - $bar-width) / 2
    $bar-right: $bar-left + $bar-width

    &:checked
        + label
            &::after
                background-image: linear-gradient(to bottom, $background $bar-top, transparent $bar-top, transparent $bar-bottom, $background $bar-bottom), linear-gradient(to right, transparent $bar-left, $color $bar-left, $color $bar-right, transparent $bar-right )

.switch[type="checkbox"]
    +cover-switch-size($size-normal)
    &.is-small
        +cover-switch-size($size-small)
    &.is-medium
        +cover-switch-size($size-medium)
    &.is-large
        +cover-switch-size($size-large)

    +cover-paddle($switch-background-active, $switch-paddle-background)

    &.is-outlined
        &.is-small, &.is-medium, &.is-large
            +cover-paddle($switch-paddle-background, $switch-background-active)

    @each $name, $pair in $colors
        $color: nth($pair, 1)
        &.is-#{$name}
            +cover-paddle($color, $switch-paddle-background)

            &.is-outlined
                +cover-paddle($switch-paddle-background, $color)
