$tabs-toggle-link-background-color: $light !default
// Approximation of button shadow using drop-shadow
$tabs-toggle-shadow: 0 0.25em .15em rgba($scheme-invert, .1) !default

.tabs
    &.is-toggle
        // Approximation of button shadow, which can't be used because overflow
        filter: drop-shadow($tabs-toggle-shadow)
        a
            background-color: $tabs-toggle-link-background-color

.tabs.is-vertical
    height: 100%
    display: block
    overflow: visible
    a
        justify-content: flex-start
        border-bottom: none
        margin-bottom: 0
        padding-left: 0
    ul
        position: sticky
        top: $navbar-height + $block-spacing
        display: block
        flex-direction: column
        align-items: stretch
        border-bottom: none
    li.tabs-title
        padding: $tabs-link-padding
        padding-left: 0
        font-weight: $title-weight
        border-bottom: $tabs-border-bottom-color $tabs-border-bottom-style $tabs-border-bottom-width
    +touch
        a,
        li.tabs-title
            padding-right: $section-padding-horizontal
            padding-left: $section-padding-horizontal
    +desktop
        border-right: $tabs-border-bottom-color $tabs-border-bottom-style $tabs-border-bottom-width
        a
            border-right-color: $tabs-border-bottom-color
            border-right-style: $tabs-border-bottom-style
            border-right-width: $tabs-border-bottom-width
            margin-right: -#{$tabs-border-bottom-width}
            &:hover
                border-right-color: $tabs-link-hover-border-bottom-color
        li
            &.tabs-title
                display: none
            &.is-active
                a
                    border-right-color: $tabs-link-active-border-bottom-color

.tabs-content
    > li,
    > ul > li
        list-style: none
    > li,
    > ul > li,
    > :not(ul)
        display: none
    > li.is-active,
    > ul > li.is-active,
    > :not(ul).is-active
        display: block

.tabs-wrapper.is-vertical
    .tabs-back
        display: flex
        justify-content: flex-start
        width: 100%
        background: $body-background-color
        padding: $tabs-link-padding
        border-bottom: $tabs-border-bottom-color $tabs-border-bottom-style $tabs-border-bottom-width
        box-shadow: none
        transition: box-shadow .15s ease-in
        &:active,
        &:focus,
        &:hover
            border-top-color: transparent
            border-right-color: transparent
            border-left-color: transparent
        &:hover
            background: $background
        &:focus
            color: $link-focus
        &.is-stuck
            box-shadow: 0 0.25em .5em -0.0625em $button-shadow-color
            box-shadow: $button-shadow-size $button-shadow-color

.tabs-wrapper.is-condensed
    .tabs:not(:last-child)
        margin-bottom: 0.5em

.tabs-wrapper.is-vertical.is-enriched
    +touch
        min-height: calc(100vh - #{$navbar-height} + #{2 * $column-gap})
        .tabs 
            a
                &:focus,
                &:hover
                    background: $background
                    color: $text
                &:focus
                    color: $text-strong
            ul
                top: $navbar-height
            li
                &.is-active
                    a
                        color: $tabs-link-color
