.fieldset
    @extend .box
    
    legend
        font-weight: $label-weight
        float: left
        width: 100%
        margin-bottom: 0.75rem // same as field

    legend + *
        clear: both
