$file-hover-border-color: $link-hover-border !default
$file-border-width: $control-border-width !default
$file-cta-hover-background-color: $link-hover-border !default
$file-cta-shadow-size: 0 0.25em .5em -0.0625em !default
$file-cta-shadow-color: rgba($scheme-invert, .1) !default
$file-name-hover-border-color: $border-hover !default

// Bulma's border settings need improvement…
.file
    &.is-boxed
        .file-name
            border-width: 0 $file-border-width $file-border-width
        &.has-name
            .file-name
                border-width: 0 $file-border-width $file-border-width
    &.is-right
        .file-name
            border-width: $file-border-width 0 $file-border-width $file-border-width

.file-name
    border-width: $file-border-width $file-border-width $file-border-width 0

.file-label
    overflow: visible
    &:hover
        .file-cta
            background-color: $file-cta-hover-background-color
            border-color: $file-hover-border-color
        .file-name
            border-color: $file-name-hover-border-color

.file-cta
    box-shadow: $file-cta-shadow-size $file-cta-shadow-color

