$color-mode: light !default

\:root
    --viewport-name: mobile
    --color-mode: #{$color-mode}

+from($tablet)
    \:root
        --viewport-name: tablet

+from($desktop)
    \:root
        --viewport-name: desktop

+from($widescreen)
    \:root
        --viewport-name: widescreen

+from($fullhd)
    \:root
        --viewport-name: fullhd
